<div class="container">
  <div>
    First Name :<input type="text" name="FirstName" value="" />
  </div>
<br />
  <div>
    Last Name :<input type="text" name="LastName" value="" /> 
  </div>
  <div>
  <input type="submit" value="Submit Data" />
  </div> 
</div>
