<div class="container">
<table width="300px">
<tr>
  <td>
  First Name:
  </td>
  <td>
  <input type="text" name="FirstName" value="" />
  </td>
</tr>

<tr>
  <td>
  Car:
  </td>
  <td>
  <select>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</td>
</tr>
</table>
<br />
<input type="submit" value="Submit Data" />
require "postgres"
conn = PGconn.connect("localhost", 5432, "", "", "TestRoR")
# or: conn = PGconn.open('dbname=TestRoR')
res = conn.exec("select * from employee;")
</div>
