<div class="container">
<table cell-padding="1" width="250px">
<tr>
  <td width="80px">
  First Name :
  </td>
  <td width="100px">
  <input type="text" name="FirstName" value="" />
  </td>
</tr>

<tr>
  <td width="80px">
  Car :
  </td>
  <td>
  <select width="100px">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
  </td>
</tr>
</table>
<br />
<input type="submit" value="Submit Data" />
</div>
